body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(120deg, #37ea6a 0%, #08f3e4 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* text-align: center;
    align-items: center; */
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    margin-bottom: 20px;
    color: #000000;
}

.input-group {
    
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.input-bar {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-bar:focus {
    border-color: #fda085;
    outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.animated-button {
    background: #fda085;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.animated-button:hover {
    background: #f6d365;
    transform: scale(1.05);
}

.output-box {
    background: linear-gradient(120deg, #f6d365 0%, #efe9e8 100%);
   
    color: #e67373;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.hidden {
    display: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
